/* reset */
*{
	margin: 0;
	padding: 0;
}
/* reset */

/* fondo */
.background{
    background-color: palegreen;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* fondo */

/* inicio index */
.index__gridlayout {  
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.4fr 1.6fr 1.6fr 0.4fr;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "index__header index__header index__header"
    ". index__content ."
    ". index__content2 ."
    "index__footer index__footer index__footer";
    height: 1200px;
}


/* inicio index header */

.index__header { 
    grid-area: index__header;
    background-color: #150A3D;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content:space-between;
}
.navegador{
    padding-left: 5px;
}

.cambioletra{
    text-decoration: none;
    color: aqua;
}
.cart{
    color: aqua;
    padding-right: 25px;
}
.logoTitulo{
    color: aqua;
    padding-right: 14%;
}
ul{
    list-style: none;
}
ul li {
    display: inline-block;
    padding: 5px;
}

.lalala:hover{
    background-color: #0089B3;
}

li .cambioletra:hover{
    color: black;
}

/* fin index header */

/* inicio index content */

.index__content {  
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
    "index__content--texto index__content--video";
    grid-area: index__content;
}


.index__content--video { 
    background-color: chartreuse;
    grid-area: index__content--video;
}
.secvid--video{
    height: 100%;
    width: 100%;
}

.index__content--texto { 
    background-color: darkmagenta;
    grid-area: index__content--texto;
}

.index__content2 {  
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
    "index__content2--img index__content2--texto";
    grid-area: index__content2;
}

/* responsive */

@media (max-width: 768px) {
    .index__content {  
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
        gap: 16px 16px;
        grid-auto-flow: row;
        grid-template-areas:
        "index__content--texto"
        "index__content--video";
        grid-area: index__content;
    }

    .index__content2 {  
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
        gap: 16px 16px;
        grid-auto-flow: row;
        grid-template-areas:
        "index__content2--texto"
        "index__content2--img";
        grid-area: index__content2;
        padding-top: 16px;
    }
}

/* fin responsive */

.index__content2--img {
    grid-area: index__content2--img;
    background-color: gold;
}

.index__content2--texto {
    background-color: lavender;
    grid-area: index__content2--texto;
}

/* fin index content */

/* inicio index footer */

.index__footer {
    grid-area: index__footer;
    background-color: lightslategrey;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;

}
.subir{
    background-color: rgb(68, 8, 181);
	color: rgb(12, 197, 225) ;
    flex-direction: flex-end;
    border-radius: 50%;
    width: 40px;
	height: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    margin-right: 10px;
}
.facebook{
    text-decoration: none;
    color:#3b5998 ;
}

.insta{
    text-decoration: none;
    color: rgb(12, 197, 225) ;
}
.fa-whatsapp{
    color: rgb(18, 140, 126);
}

/* fin index footer */

/* fin index */


/* inicio galeria */

.galeria__gridlayout {  
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "galeria__header galeria__header galeria__header"
    ". galeria__content ."
    "galeria__footer galeria__footer galeria__footer";
    height: 1200px;
}

.galeria__header { 
    grid-area: galeria__header;
    background-color: #150A3D;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content:space-between;
}

/* inicio galeria content */

.galeria__content {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 12px 12px;
    grid-auto-flow: row;
    grid-template-areas:
    "galeria__content--img1 galeria__content--img2 galeria__content--img2"
    "galeria__content--img1 galeria__content--img3 galeria__content--img3"
    "galeria__content--img4 galeria__content--img3 galeria__content--img3"
    "galeria__content--img5 galeria__content--img5 galeria__content--img6"
    "galeria__content--img5 galeria__content--img5 galeria__content--img6";
    grid-area: galeria__content;
}
/* responsive */

@media (max-width: 650px){
    .galeria__content {  
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 12px 12px;
        grid-auto-flow: row;
        grid-template-areas:
        "galeria__content--img1"
        "galeria__content--img1"
        "galeria__content--img2"
        "galeria__content--img2"
        "galeria__content--img4"
        "galeria__content--img4"
        "galeria__content--img3"
        "galeria__content--img3"
        "galeria__content--img3"
        "galeria__content--img3"
        "galeria__content--img5"
        "galeria__content--img5"
        "galeria__content--img5"
        "galeria__content--img5"
        "galeria__content--img6"
        "galeria__content--img6";
        grid-area: galeria__content;
    }
    .galeria__footer {
        height: 100%;
    }
}
/* fin responsive */


.galeria__content--img1 { 
    grid-area: galeria__content--img1;
    background-color: beige;
}

.galeria__content--img2 { 
    grid-area: galeria__content--img2;
    background-color: darkcyan;
}

.galeria__content--img3 { 
    grid-area: galeria__content--img3;
    background-color: chocolate;
}

.galeria__content--img4 { 
    grid-area: galeria__content--img4;
    background-color: darkblue;
}

.galeria__content--img5 { 
    grid-area: galeria__content--img5;
    background-color: deeppink;
}

.galeria__content--img6 { 
    grid-area: galeria__content--img6;
    background-color: indigo;
}

/* fin galeria content */

/* inicio galeria footer */
.galeria__footer { 
    grid-area: galeria__footer;
    background-color: lightslategrey;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;
}
.subir{
    background-color: rgb(68, 8, 181);
	color: rgb(12, 197, 225) ;
    flex-direction: flex-end;
    border-radius: 50%;
    width: 40px;
	height: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    margin-right: 10px;
}
.facebook{
    text-decoration: none;
    color:#3b5998 ;
}

.insta{
    text-decoration: none;
    color: rgb(12, 197, 225) ;
}
.fa-whatsapp{
    color: rgb(18, 140, 126);
}

/* fin galeria footer */


/* fin galeria */

/* inicio articulos */

.articulos__gridlayout {
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "articulos__header articulos__header articulos__header"
    ". articulos__content ."
    "articulos__footer articulos__footer articulos__footer";
    height: 1200px;
}

.articulos__header {
    grid-area: articulos__header;
    background-color: rgb(212, 30, 30);
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content:space-between;
}


.articulos__content {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
    "articulos__content--carta1 articulos__content--carta2 articulos__content--carta3 articulos__content--carta4"
    "articulos__content--carta5 articulos__content--carta6 articulos__content--carta7 articulos__content--carta8"
    "articulos__content--carta9 articulos__content--carta10 articulos__content--carta11 articulos__content--carta12";
    grid-area: articulos__content;
}

/* responsive */
@media (min-width: 992px){
    .articulos__footer {
        height: 100%;
    }

    .background{
        height:100%;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    .articulos__content {  
        display: grid;
        grid-template-columns: 1.3fr 1.3fr 1.3fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 25px 25px;
        grid-auto-flow: row;
        grid-template-areas:
        "articulos__content--carta1 articulos__content--carta2 articulos__content--carta3"
        "articulos__content--carta4 articulos__content--carta5 articulos__content--carta6"
        "articulos__content--carta7 articulos__content--carta8 articulos__content--carta9"
        "articulos__content--carta10 articulos__content--carta11 articulos__content--carta12";
        grid-area: articulos__content;
        
    }
    .articulos__footer {
        height: 100%;
    }

    .background{
        height:100%;
    }

}

@media (max-width: 576px){
    .articulos__content {  
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 25px 25px;
        grid-auto-flow: row;
        grid-template-areas:
        "articulos__content--carta1 articulos__content--carta2"
        "articulos__content--carta3 articulos__content--carta4"
        "articulos__content--carta5 articulos__content--carta6"
        "articulos__content--carta7 articulos__content--carta8"
        "articulos__content--carta9 articulos__content--carta10"
        "articulos__content--carta11 articulos__content--carta12";
        grid-area: articulos__content;
        
    }
    .articulos__footer {
        height: 100%;
    }

    .background{
        height:100%;
    }

}

@media (max-width: 350px){
    .articulos__content {  
        display: grid;
        grid-template-columns: 4fr;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "articulos__content--carta1"
        "articulos__content--carta2"
        "articulos__content--carta3"
        "articulos__content--carta4"
        "articulos__content--carta5"
        "articulos__content--carta6"
        "articulos__content--carta7"
        "articulos__content--carta8"
        "articulos__content--carta9"
        "articulos__content--carta10"
        "articulos__content--carta11"
        "articulos__content--carta12";
        grid-area: articulos__content;
        
    }
    
.articulos__content--carta1 {
    background-color: aliceblue;
    grid-area: articulos__content--carta1;
    height: 150px;
    width: 100%;
}

.articulos__content--carta2 {
    background-color: aliceblue;
    grid-area: articulos__content--carta2;
    height: 150px;
    width: 100%;
}

.articulos__content--carta3 {
    background-color: aliceblue;
    grid-area: articulos__content--carta3;
    height: 150px;
    width: 100%;
}

.articulos__content--carta4 {
    background-color: aliceblue;
    grid-area: articulos__content--carta4;
    height: 150px;
    width: 100%;
}

.articulos__content--carta5 {
    background-color: aliceblue;
    grid-area: articulos__content--carta5;
    height: 150px;
    width: 100%;
}

.articulos__content--carta6 {
    background-color: aliceblue;
    grid-area: articulos__content--carta6;
    height: 150px;
    width: 100%;
}

.articulos__content--carta7 {
    background-color: aliceblue;
    grid-area: articulos__content--carta7;
    height: 150px;
    width: 100%;
}

.articulos__content--carta8 {
    background-color: aliceblue;
    grid-area: articulos__content--carta8;
    height: 150px;
    width: 100%;
}

.articulos__content--carta9 {
    background-color: aliceblue;
    grid-area: articulos__content--carta9;
    height: 150px;
    width: 100%;
    
}

.articulos__content--carta10 {
    background-color: aliceblue;
    grid-area: articulos__content--carta10;
    height: 150px;
    width: 100%;
}

.articulos__content--carta11 {
    background-color: aliceblue;
    grid-area: articulos__content--carta11;
    height: 150px;
    width: 100%;
}

.articulos__content--carta12 {
    background-color: aliceblue;
    grid-area: articulos__content--carta12;
    height: 150px;
    width: 100%;
}

    .articulos__footer {
        height: 100%;
    }
    .background{
        height: 185vh;
    }
}
/*fin responsive */

/* animation */
.articulos__content--carta1:hover , .articulos__content--carta2:hover, .articulos__content--carta3:hover ,.articulos__content--carta4:hover, .articulos__content--carta5:hover, .articulos__content--carta6:hover, .articulos__content--carta7:hover, .articulos__content--carta8:hover, .articulos__content--carta9:hover, .articulos__content--carta10:hover, .articulos__content--carta11:hover ,.articulos__content--carta12:hover{
    transform: scale(125%);
}
/* animation */


.articulos__content--carta1 {
    background-color: aliceblue;
    grid-area: articulos__content--carta1;
}

.articulos__content--carta2 {
    background-color: aliceblue;
    grid-area: articulos__content--carta2;
}

.articulos__content--carta3 {
    background-color: aliceblue;
    grid-area: articulos__content--carta3;
}

.articulos__content--carta4 {
    background-color: aliceblue;
    grid-area: articulos__content--carta4;
}

.articulos__content--carta5 {
    background-color: aliceblue;
    grid-area: articulos__content--carta5;
}

.articulos__content--carta6 {
    background-color: aliceblue;
    grid-area: articulos__content--carta6;
}

.articulos__content--carta7 {
    background-color: aliceblue;
    grid-area: articulos__content--carta7;
}

.articulos__content--carta8 {
    background-color: aliceblue;
    grid-area: articulos__content--carta8;
}

.articulos__content--carta9 {
    background-color: aliceblue;
    grid-area: articulos__content--carta9;
}

.articulos__content--carta10 {
    background-color: aliceblue;
    grid-area: articulos__content--carta10
}

.articulos__content--carta11 {
    background-color: aliceblue;
    grid-area: articulos__content--carta11;
}

.articulos__content--carta12 {
    background-color: aliceblue;
    grid-area: articulos__content--carta12;
}

.articulos__footer {
    background-color: darkblue;
    grid-area: articulos__footer;
    background-color: lightslategrey;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;
}

.subir{
    background-color: rgb(68, 8, 181);
	color: rgb(12, 197, 225) ;
    flex-direction: flex-end;
    border-radius: 50%;
    width: 40px;
	height: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    margin-right: 10px;
}
.facebook{
    text-decoration: none;
    color:#3b5998 ;
}

.insta{
    text-decoration: none;
    color: rgb(12, 197, 225) ;
}
.fa-whatsapp{
    color: rgb(18, 140, 126);
}


/* fin articulos */