/* reset */
*{
	margin: 0;
	padding: 0;
}
/* reset */

/* fondo */
.background{
    background-color: palegreen;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* fondo */

/* inicio index */
.index__gridlayout {  
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 150px auto auto 150px;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "index__header index__header index__header"
    ". index__content ."
    ". index__content2 ."
    "index__footer index__footer index__footer";
    height: 1200px;
}


/* inicio index header */


.index__header { 
    grid-area: index__header;
    background-image: radial-gradient(circle, #00487e, #0b386f, #11295f, #141a4e, #150a3d);
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content:space-between;
    flex-wrap: nowrap;
    
}
.navegador{
    padding-left: 5px;
    display: block;
}

.cambioletra{
    text-decoration: none;
    color: aqua;
}
.cart{
    color: aqua;
    padding-right: 25px;
}
.logoTitulo{
    color: aqua;
    padding-right: 17%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-shadow: 3px 6px 6px black;
}
ul{
    list-style: none;
}
ul li {
    display: inline-flex;
    padding: 5px;
    text-shadow: 3px 6px 6px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


li .cambioletra:hover{
    color: black;
}

.fa-cart-arrow-down{
    text-shadow: 3px 6px 6px black;
}

/* animaciones header */

.fa-cart-arrow-down:hover{
    transform: scale(125%);
}
.fondoMenu:hover{
    background-color: #0089B3;
    text-shadow:none;
}

/* responsive header */
@media (max-width: 768px) {
    ul li{
        display: block;
    }
    .logoTitulo{
        padding-right: 0%;
    }
}


/* fin index header */

/* inicio index content */

.index__content {  
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: auto;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
    "index__content--texto index__content--video";
    grid-area: index__content;
}
.imagenIndex{
    height: 100%;
    width: 100%;
}

.index__content--video { 
    background-color: chartreuse;
    grid-area: index__content--video;
}
.secvid--video{
    height: 100%;
    width: 100%;
}

.index__content--texto { 
    background-image: radial-gradient(circle, #00487e, #0b386f, #11295f, #141a4e, #150a3d);
    grid-area: index__content--texto;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: aqua;
    
}
.index__content2 {  
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: auto;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
    "index__content2--img index__content2--texto";
    grid-area: index__content2;
}

/* responsive */

@media (max-width: 768px) {
    .index__content {  
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
        gap: 16px 16px;
        grid-auto-flow: row;
        grid-template-areas:
        "index__content--texto"
        "index__content--video";
        grid-area: index__content;
    }

    .index__content2 {  
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
        gap: 16px 16px;
        grid-auto-flow: row;
        grid-template-areas:
        "index__content2--texto"
        "index__content2--img";
        grid-area: index__content2;
        padding-top: 16px;
    }
}

/* fin responsive */

.index__content2--img {
    grid-area: index__content2--img;
    background-color: gold;
}

.index__content2--texto {
    background-image: radial-gradient(circle, #00487e, #0b386f, #11295f, #141a4e, #150a3d);
    grid-area: index__content2--texto;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: aqua;
}
.imagenIndex2{
    height: 50%;
    width: 100%;
}

.imagenIndex2:hover{
    transform: scale(125%);
}

/* fin index content */

/* inicio index footer */

.index__footer {
    grid-area: index__footer;
    background-image: radial-gradient(circle, #00487e, #0b386f, #11295f, #141a4e, #150a3d);
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;

}
.subir{
    background-color: rgb(68, 8, 181);
	color: rgb(12, 197, 225) ;
    flex-direction: flex-end;
    border-radius: 50%;
    width: 40px;
	height: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    margin-right: 10px;
    border-color: rgb(12, 197, 225);
    border-style: solid;
}

.facebook{
    text-decoration: none;
    color:#3b5998 ;
    text-shadow: 3px 6px 6px black;
}
.insta{
    text-decoration: none;
    color: rgb(12, 197, 225) ;
    text-shadow: 3px 6px 6px black;
}
.fa-whatsapp{
    color: rgb(18, 140, 126);
    text-shadow: 3px 6px 6px black;
}
/* animaciones footer */

.fa-instagram:hover{
    transform: scale(125%);
}
.fa-whatsapp:hover{
    transform: scale(125%);
}
.fa-facebook:hover{
    transform: scale(125%);
}
.subir:hover{
    transform: scale(125%);
}
/* fin index footer */

/* fin index */


/* inicio galeria */

.galeria__gridlayout {  
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 150px auto 150px;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "galeria__header galeria__header galeria__header"
    ". galeria__content ."
    "galeria__footer galeria__footer galeria__footer";
    height: 1200px;
}

.galeria__header { 
    grid-area: galeria__header;
    background-image: radial-gradient(circle, #00487e, #0b386f, #11295f, #141a4e, #150a3d);
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content:space-between;
}

/* inicio galeria content */

.galeria__content {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 12px 12px;
    grid-auto-flow: row;
    grid-template-areas:
    "galeria__content--img1 galeria__content--img2 galeria__content--img2"
    "galeria__content--img1 galeria__content--img3 galeria__content--img3"
    "galeria__content--img4 galeria__content--img3 galeria__content--img3"
    "galeria__content--img5 galeria__content--img5 galeria__content--img6"
    "galeria__content--img5 galeria__content--img5 galeria__content--img6";
    grid-area: galeria__content;
}
/* responsive */

@media (max-width: 650px){
    .galeria__content {  
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
        gap: 12px 12px;
        grid-auto-flow: row;
        grid-template-areas:
        "galeria__content--img1"
        "galeria__content--img1"
        "galeria__content--img2"
        "galeria__content--img2"
        "galeria__content--img4"
        "galeria__content--img4"
        "galeria__content--img3"
        "galeria__content--img3"
        "galeria__content--img3"
        "galeria__content--img3"
        "galeria__content--img5"
        "galeria__content--img5"
        "galeria__content--img5"
        "galeria__content--img5"
        "galeria__content--img6"
        "galeria__content--img6";
        grid-area: galeria__content;
    }
    .galeria__footer {
        height: 100%;
    }
}
/* fin responsive */


.galeria__content--img1 { 
    grid-area: galeria__content--img1;
    background-image: url(../img/imagentienda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria__content--img2 { 
    grid-area: galeria__content--img2;
    background-image: url(../img/imagentienda2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria__content--img3 { 
    grid-area: galeria__content--img3;
    background-image: url(../img/imagentienda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria__content--img4 { 
    grid-area: galeria__content--img4;
    background-image: url(../img/imagentienda2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria__content--img5 { 
    grid-area: galeria__content--img5;
    background-image: url(../img/imagentienda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria__content--img6 { 
    grid-area: galeria__content--img6;
    background-image: url(../img/imagentienda2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* fin galeria content */

/* inicio galeria footer */
.galeria__footer { 
    grid-area: galeria__footer;
    background-image: radial-gradient(circle, #00487e, #0b386f, #11295f, #141a4e, #150a3d);
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;
}
.subir{
    background-color: rgb(68, 8, 181);
	color: rgb(12, 197, 225) ;
    flex-direction: flex-end;
    border-radius: 50%;
    width: 40px;
	height: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    margin-right: 10px;
}
.facebook{
    text-decoration: none;
    color:#3b5998 ;
}

.insta{
    text-decoration: none;
    color: rgb(12, 197, 225) ;
}
.fa-whatsapp{
    color: rgb(18, 140, 126);
}

/* fin galeria footer */


/* fin galeria */

/* inicio articulos */

.articulos__gridlayout {
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 150px auto 150px;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "articulos__header articulos__header articulos__header"
    ". articulos__content ."
    "articulos__footer articulos__footer articulos__footer";
    height: auto;
    
}

.articulos__header {
    grid-area: articulos__header;
    background-image: radial-gradient(circle, #00487e, #0b386f, #11295f, #141a4e, #150a3d);
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content:space-between;
}


.articulos__content {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
    "articulos__content--carta1 articulos__content--carta2 articulos__content--carta3 articulos__content--carta4"
    "articulos__content--carta5 articulos__content--carta6 articulos__content--carta7 articulos__content--carta8"
    "articulos__content--carta9 articulos__content--carta10 articulos__content--carta11 articulos__content--carta12";
    grid-area: articulos__content;
    
}

.articulos__content--carta1,.articulos__content--carta2,.articulos__content--carta3,.articulos__content--carta4,.articulos__content--carta5,.articulos__content--carta6,.articulos__content--carta7,.articulos__content--carta8,.articulos__content--carta9,.articulos__content--carta10,.articulos__content--carta11,.articulos__content--carta12{
    border-radius: 2%;
    border-color: black;
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.articulos__content--carta1--img,.articulos__content--carta2--img,.articulos__content--carta3--img,.articulos__content--carta4--img,.articulos__content--carta5--img,.articulos__content--carta6--img,.articulos__content--carta7--img,.articulos__content--carta8--img,.articulos__content--carta9--img,.articulos__content--carta10--img,.articulos__content--carta11--img,.articulos__content--carta12--img{
    height: 75%;
    width: 100%;
}
.articulos__content--carta1--texto,.articulos__content--carta2--texto,.articulos__content--carta3--texto,.articulos__content--carta4--texto,.articulos__content--carta5--texto,.articulos__content--carta6--texto,.articulos__content--carta7--texto,.articulos__content--carta8--texto,.articulos__content--carta9--texto,.articulos__content--carta10--texto,.articulos__content--carta11--texto,.articulos__content--carta12--texto{
    height: 25%;
    width: 100%;
    text-align: center;
    
}
.articulos__content--carta1--texto2,.articulos__content--carta2--texto2,.articulos__content--carta3--texto2,.articulos__content--carta4--texto2,.articulos__content--carta5--texto2,.articulos__content--carta6--texto2,.articulos__content--carta7--texto2,.articulos__content--carta8--texto2,.articulos__content--carta9--texto2,.articulos__content--carta10--texto2,.articulos__content--carta11--texto2,.articulos__content--carta12--texto2{
    text-align: justify;
    
    
}
.articulo1,.articulo2,.articulo3,.articulo4,.articulo5,.articulo6,.articulo7,.articulo8,.articulo9,.articulo10,.articulo11,.articulo12{
    width: 100%;
    height: 100%;
}

/* responsive */


@media (min-width: 576px) and (max-width: 992px){
    .articulos__content {  
        display: grid;
        grid-template-columns: 1.3fr 1.3fr 1.3fr;
        grid-template-rows: auto;
        gap: 25px 25px;
        grid-auto-flow: row;
        grid-template-areas:
        "articulos__content--carta1 articulos__content--carta2 articulos__content--carta3"
        "articulos__content--carta4 articulos__content--carta5 articulos__content--carta6"
        "articulos__content--carta7 articulos__content--carta8 articulos__content--carta9"
        "articulos__content--carta10 articulos__content--carta11 articulos__content--carta12";
        grid-area: articulos__content;
        
    }

}

@media (max-width: 576px){
    .articulos__content {  
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "articulos__content--carta1 articulos__content--carta2"
        "articulos__content--carta3 articulos__content--carta4"
        "articulos__content--carta5 articulos__content--carta6"
        "articulos__content--carta7 articulos__content--carta8"
        "articulos__content--carta9 articulos__content--carta10"
        "articulos__content--carta11 articulos__content--carta12";
        grid-area: articulos__content;
    }
}

@media (max-width: 350px){
    .articulos__content {  
        display: grid;
        grid-template-columns: 4fr;
        grid-template-rows: auto;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "articulos__content--carta1"
        "articulos__content--carta2"
        "articulos__content--carta3"
        "articulos__content--carta4"
        "articulos__content--carta5"
        "articulos__content--carta6"
        "articulos__content--carta7"
        "articulos__content--carta8"
        "articulos__content--carta9"
        "articulos__content--carta10"
        "articulos__content--carta11"
        "articulos__content--carta12";
        grid-area: articulos__content;
        
    }
    .articulos__footer{
        height: auto;
    }
}
/*fin responsive */

/* animation */
.articulos__content--carta1:hover , .articulos__content--carta2:hover, .articulos__content--carta3:hover ,.articulos__content--carta4:hover, .articulos__content--carta5:hover, .articulos__content--carta6:hover, .articulos__content--carta7:hover, .articulos__content--carta8:hover, .articulos__content--carta9:hover, .articulos__content--carta10:hover, .articulos__content--carta11:hover ,.articulos__content--carta12:hover{
    transform: scale(125%);
}
/* animation */


.articulos__content--carta1 {
    background-color: aliceblue;
    grid-area: articulos__content--carta1;
    height: auto;
}

.articulos__content--carta2 {
    background-color: aliceblue;
    grid-area: articulos__content--carta2;
    height: auto;
}

.articulos__content--carta3 {
    background-color: aliceblue;
    grid-area: articulos__content--carta3;
    height: auto;
}

.articulos__content--carta4 {
    background-color: aliceblue;
    grid-area: articulos__content--carta4;
    height: auto;
}

.articulos__content--carta5 {
    background-color: aliceblue;
    grid-area: articulos__content--carta5;
    height: auto;
}

.articulos__content--carta6 {
    background-color: aliceblue;
    grid-area: articulos__content--carta6;
    height: auto;
}

.articulos__content--carta7 {
    background-color: aliceblue;
    grid-area: articulos__content--carta7;
    height: auto;
}

.articulos__content--carta8 {
    background-color: aliceblue;
    grid-area: articulos__content--carta8;
    height: auto;
}

.articulos__content--carta9 {
    background-color: aliceblue;
    grid-area: articulos__content--carta9;
    height: auto;
}

.articulos__content--carta10 {
    background-color: aliceblue;
    grid-area: articulos__content--carta10;
    height: auto;
}

.articulos__content--carta11 {
    background-color: aliceblue;
    grid-area: articulos__content--carta11;
    height: auto;
}

.articulos__content--carta12 {
    background-color: aliceblue;
    grid-area: articulos__content--carta12;
    height: auto;
}

.articulos__footer {
    background-image: radial-gradient(circle, #00487e, #0b386f, #11295f, #141a4e, #150a3d);
    grid-area: articulos__footer;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;
    height: 100%;
}

.subir{
    background-color: rgb(68, 8, 181);
	color: rgb(12, 197, 225) ;
    flex-direction: flex-end;
    border-radius: 50%;
    width: 40px;
	height: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    margin-right: 10px;
}
.facebook{
    text-decoration: none;
    color:#3b5998 ;
}

.insta{
    text-decoration: none;
    color: rgb(12, 197, 225) ;
}
.fa-whatsapp{
    color: rgb(18, 140, 126);
}


/* fin articulos */